/* IMPORTING THE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@400;700&display=swap');

/* GENERAL STYLING */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    color: #000000;
}

p {
    font-size: 16px;
}

h2 {
    font-family: 'Lobster', cursive;
    font-size: 41px;
    color: #496ac9;
}

h3 {
    font-size: 26px;
}
.bigger-h3 {
	font-size: 32px;
	margin-top: 26px;
	margin-bottom: 26px;
}

h4 {
    font-size: 32px;
    text-align: center;
}

button {
    font-size: 14px;
    color: #496ac9;
    font-weight: bold;
    background: #ffffff;
    border: 3px solid #a3baff;
    border-radius: 5px;
    padding: 10px 10px;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #496ac9;
    color: #ffffff;
    z-index: 1000;
    display: flex;
    justify-content: center;
	border-bottom: 3px solid #0a3edd;
}

.navbar .container {
    width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
	padding: 10px 0;
}

.navbar-brand {
    font-family: 'Lobster', cursive;
    font-size: 35px;
    color: #ffffff;
}

.navbar-menu {
    display: flex;
}

.navbar-menu a {
    color: #496ac9;
	background-color: #ffffff;
    text-decoration: none;
    font-size: 14px;
	font-weight: bold;
    padding: 10px 15px;
	
    transition: all 0.3s ease;
    
	margin: 0 5px;
    border: 3px solid #a3baff;
    border-radius: 5px;
}

.navbar-menu a:hover,
.navbar-menu a:focus,
.navbar-menu a.active {
    background-color: #0a3edd;
    color: #ffffff;
    border: 3px solid #a3baff;
}

.nav-btn:hover {
    transform: scale(1.05);
}

/* Header */
.header {
    width: 100%;
    margin-top: 60px; /* so the nav doesn't overlap with the image at the starting position */
}

.header-index {
    height: 50em;
    background: url('images/cabecera.jpg') no-repeat;
    background-size: cover;
    background-position: top; /* to show the image starting from the top */
}
.header-products {
    height: 50em;
    background: url('images/cabecera_int.jpg') no-repeat;
    background-size: cover;
	background-position: top; /* to show the image starting from the top */
}

.header-content-index {
    float: right;
    color: #ffffff;
    background-color: rgba(73, 106, 201, 0.4);
    height: auto;
    margin-right: calc(50% - 585px);
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 120px;
}

.header-content-index img {
    margin-right: 20px;
    flex: 1;
}
.header-content-index div {
    flex: 2;
	text-align: right;
}
.header-content-index p, .header-content-products p {
    font-family: 'Lobster', cursive;
    font-size: 26px;
}

.header-content-products {
    display: flex;
    align-items: center;
    padding: 0;
    width: 1170px;
    margin: 0 auto;
    color: #ffffff;
}
.header-content-products img {
    width: 26px;
    height: 26px;
}
.header-content-products p {
    margin-left: 5px;
}


/* Social media icons */
.fixed {
	position: fixed;	
	top: 50%;
	left: 100px;
	
}

.in-a-row {
	display: flex;
}
.in-a-row div {
	flex-direction: row;
}

.social-media {
	background-color: rgba(73, 106, 201, 0.5);
	border-radius: 10px;
	
}

.social-media div {
	height: 35px; /* this is beacause the icon is not a square, so then when rounding borders we would be making an elipse and not a circle*/
	width: 35px;
	font-size: 18px;
	align-content: center;
	text-align: center; /* the i's are treated like text */
	border-radius: 50%; /*to make it look like a circle*/
	color: white;
	margin: 10px;
}

.instagram {
	background-color: #d01e55;
}

.facebook {
	background-color: #3B5998;
}
.tiktok {
	background-color: #111111;
}
.linkedin {
	background-color: #0E76A8;
}
.twitter {
	background-color: #00ACEE;
}


/* Main Content */
.body-index {
    background: url('images/raspberry.jpg') no-repeat center center fixed;
    background-size: cover;
}

section {
    background-color: #ffffff;
    width: 100%;
}

section a button {
    width: 100%;
}

.first-section a button {
    margin-bottom: 100px;
}

.first-section {
    display: flex;
}
.container {
    width: 1170px;
    margin: 0 auto;
    padding: 20px 0;
}

.main-flex {
    display: flex;
}

.h2-underlined {
    border-bottom: 1px solid #496ac9;
}

.not-left-tab {
    flex: 4;
    padding-top: 100px;
}

.direct-message-tab {
    flex: 4;
    margin-left: 50px;
	padding-top: 20px;
}

/*tab styles*/

.left-tab {
    flex: 1;
    padding: 20px;
}
.left-tab h2 {
    padding-left: 0;
}
.news {
    display: flex;
    padding-bottom: 4px;
    padding-top: 4px;
    border-bottom: 2px solid #496ac9;
}

.left-tab img {
    height: 110px;
    width: 100px;
}

.news-info {
    display: block;
}
.news-info p:first-child {
    margin-top: 0;
    padding: 0 0 10px 10px;
}
.news-info p:not(:first-child) {
    bottom: 0;
    margin: 0;
    padding-left: 10px;
    font-size: 12px;
}

.tips {
    display: flex;
    margin-bottom: 20px;
}

.tips .tip:first-child {
    margin-right: 20px;
}

.tips .tip:last-child {
    margin-left: 20px;
}

.tips div {
    flex: 1;
    background-color: #d01e55;
    color: white;
}

.tip {
    width: calc(33% - 40px); /* we have two margins of 20px each */
}

.tip i {
    flex: 1;
    font-size: 50px; /*this allows us to scale it*/
    padding: 20px;
}
.tip h3 {
    flex: 4;
    padding: 20px 20px 20px 0;
    margin: 0;
}
.tip p {
    padding: 0px 20px 20px 20px;
}

.tip-heading {
    display: flex;
}

section i {
    font-size: 70px;
    margin-top: 20px;
}

.first-section div:not(:first-child) {
    flex: 1;
    margin: 10px;
    text-align: center;
    padding: 10px;
}
.first-section div:first-child {
    flex: 2;
    margin: 10px;
}

.purple-div {
    background-color: #6a4aa1;
    color: #ffffff;
}
.red-div {
    background-color: #d01e55;
    color: #ffffff;
}
.black-div {
    background-color: #000000;
    color: #ffffff;
}

.second-section {
    background: none;
}

.second-section div {
    background-color: rgba(242, 242, 242, 0.5);
    color: #496ac9;
    margin-left: calc(50% - 500px);
    width: 400px;
    height: 400px;
    padding: 100px 20px;
}

.third-section {
    padding-top: 200px;
    padding-bottom: 200px;
}

.image-text-block {
    display: flex;
    margin-left: calc(50% - 450px);
    margin-right: calc(50% - 450px);
}

.text-content {
    flex: 1;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    padding-top: 100px;
}

.text-content h2 {
    font-size: 24px;
    margin-top: 0;
}

.text-content p {
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
}

.circle {
    position: absolute;
    border-radius: 50%; /*to make it look like a circle*/
    border: 20px solid white;
}

.circle-top-right {
    width: 80px;
    height: 80px;
    background-color: #d01e55;
    top: -45px;
    right: -45px;
}

.circle-bottom-left {
    width: 200px;
    height: 200px;
    background-color: #6a4aa1;
    bottom: -110px;
    left: -150px;
}

/* Table styles */

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

td {
    border: 2px solid black;
}

td, th {
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th, .category {
    background-color: #0a3edd;
    color: white;
    border: 0px;
    border-bottom: 2px solid black;
    font-weight: bold;
}
.subcategory {
    background-color: #496ac9;
    color: white;
    border-left: 0px;
}

.category {
    font-size: 26px;
}

.category, .subcategory {
    text-align: left;
}

.image-cell img {
    max-width: 100px;
}
.note {
    text-align: center;
    padding: 5px;
    background-color: white;
}

/* form styles */

form {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

fieldset {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #a3baff;
    border-radius: 5px;
}

legend {
    color: #a3baff;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: calc(100% - 20px);
    padding: 8px;
    margin-top: 5px;
    border: 2px solid #496ac9;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s, background-color 0.3s;
    background-color: #f2f2f2;
    margin-left: 20px;
}

input[type="text"]:focus,
input[type="email"]:focus,
select:focus,
textarea:focus {
    border-color: black;
    background-color: #d0e7ff;
}

input[type="radio"] {
    margin-right: 5px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #6c63ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 30px;
}

form button:hover {
    background-color: #800080; /* Purple */
}

.form-line {
    display: flex;
}
.form-group {
    width: 50%;
    flex: 1;
}
.radio-types {
    display: flex;
    padding-left: 20px;
}

span {
    color: red;
}

form a {
    color: #6c63ff;
    text-decoration: none;
}

form a:hover {
    text-decoration: underline;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('data:image/svg+xml;charset=US-ASCII,<svg%20xmlns%3D"http%3A//www.w3.org/2000/svg"%20viewBox%3D"0%200%204%205"%20width%3D"12"%20height%3D"15"><polygon%20points%3D"2,0%200,2%204,2"%20fill%3D"%236c63ff"/></svg>') no-repeat right 10px center;
    background-size: 10px;
}

/* Footer */
.footer {
    background-color: #323639;
    color: #C1C2C4;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer-section {
    margin-right: 20px;
}

.footer h3 {
    font-size: 22px;
    margin-bottom: 20px;
    margin-top: 0;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer a {
    color: #C1C2C4;
    text-decoration: none;
}
.footer a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.footer p {
    margin: 5px 0;
}

.footer h2 {
    color: #ffffff;
    margin-top: 0;
}

.footer-content {
    display: flex;
    padding-bottom: 20px;
    border-bottom: 2px solid #C1C2C4;
}
.footer-content div {
    flex: 1;
}

.footer-left, .footer-right {
    display: flex;
}

.left {
    text-align: left;
}
.right {
    text-align: right;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-top: 10px;
}
.footer-bottom p {
    margin: 0;
}

.footer-bottom nav {
    display: flex;
}
.footer-bottom nav ul {
    display: flex;
	flex-direction: column;
    list-style: none;
    padding: 0;
}
.footer-bottom nav ul li {
    margin-left: 20px;
}
